/* 
Author: Myles Yin Choy 
Date: 2/15/2024 
File Name: styles.css 
*/ 

/* CSS Reset */ 

body, header, nav, main, footer, img, h1 { 
    margin: 0;  
    padding: 0; 
    border: 0;  
}  
 
/*Style rule for images */ 

img { 
    max-width: 100%; 
    display: block; 
} 

/*Style Rules for Header */   

header{ 
    text-align: left; 
    font-size: 3em; 
    color:black;
} 

header h1{ 
    font-style: normal; 
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    color:black;
}  

header h2{
    font-style: italic; 
    font-family: Arial, Helvetica, sans-serif; 
    text-align: left; 
    color: #000;
} 

/* Styles for Nav Area */ 

nav {   
    background-color: lightblue;
} 

nav ul{ 
    list-style-type:none;  
    margin: 0; 
    text-align: center;
} 

nav li{ 
    display: inline-block; 
    font-size: 2em;
} 

nav li a{ 
    display:block; 
    color:aliceblue; 
    text-align: center; 
    padding: 0.5em 1em; 
    text-decoration: none;
} 

/* Styles for Main Area */  

main{ 
    padding: 2%; 
    background-color: whitesmoke; 
    overflow: auto; 
    font-family: Arial, Helvetica, sans-serif; 
} 

main p{
    font-size: 2em; 
    color:black; 
    font-weight: bold;
} 

#info{ 
    clear: left; 
    background-color: #c0caf7; 
    padding: 1%, 2%;
} 

#contact{ 
    color: indigo; 
    text-decoration: none; 
    font-weight: bold;
} 

/* Styles for Contact Map */ 

.map{
    border: 8px solid cyan;
} 

/* Styles for footer content */ 
 
footer a {
    color: #c0caf7; 
    text-decoration: none;
}






